<h2>Daily Flight Schedule</h2>

<!-- <div id="search">
  <label for="keyword">Search:</label><input type="text" name="keyword" placeholder="Enter an Airport Code" size="30">
</div> -->

<%= form_tag root_url, :method => 'get' do %>
  <%= label_tag :keyword, 'Search:' %>
  <%= text_field_tag :keyword, nil, :placeholder => 'Enter an Airport Code', :size => 30 %>
<% end %>


<%= paginate @flights %>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Flight Number</th>
      <th>Leaves</th>
      <th>Time</th>
      <th>Arrives</th>
      <th>Time</th>
      <th>Seats Remaining</th>
      <th>Miles</th>
    </tr>
  </thead>
  <tbody>
    <% @flights.each do |flight| %>
    <tr>
      <td>
        <% if flight.bookable? %>
          <!-- <button>Book Now</button> -->
          <%= link_to "Book Now", new_reservation_url(:flight_id => flight.id) %>
        <% end %>
      </td>
      <td><%= flight.number %></td>
      <td><%= flight.departure_code %></td>
      <td><%= flight.departs_at.localtime.strftime("%l:%M %P %Z") %></td>
      <td><%= flight.arrival_code %></td>
      <td><%= flight.arrives_at.localtime.strftime("%l:%M %P %Z") %></td>
      <td><%= flight.seats %></td>
      <td><%= flight.distance %></td>
    </tr>
    <% end %>
  </tbody>
</table>