<h2>My Profile</h2>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Frequent Flyer Miles: <%= @user.miles_earned %></b>
</p>

<ul>
<% @user.reservations.each do |reservation| %>
  <li>
        <%= reservation.flight.number %> from <%= reservation.flight.departure_code %> to
        <%= reservation.flight.arrival_code %> on <%= reservation.departs_on %>
        <em>Miles: <%= reservation.flight.distance %></em>
        
  </li>
<% end %>
</ul>



