<h2>My Profile</h2>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<ul>
<% @user.reservations.each do |reservation| %>
  <li>
        <%= reservation.flight.number %> from <%= reservation.flight.departure_code %> to
        <%= reservation.flight.arrival_code %> on <%= reservation.departs_on %>
  </li>
<% end %>
</ul>

<p>
  <b>Frequent Flyer Miles: 0</b>
  <em>You should go somewhere and earn some miles.</em>
</p>


